<html>
    <head><title>sign up</title></head>
    <body>
       
        
        <form action="/signup" method="POST">
            <input type="text" name="email" placeholder="email...">
            <input type="text" name="password" placeholder="password...">
            <input type="text" name="retypepassword" placeholder="retype password...">
            <input type="text" name="coname" placeholder="company name...">
            <input type="submit" value="sign up">
        </form>
        
        <a href="/login">login</a>
                
    </body>
</html>